<head>
 <title>Home</title>
</head>
<body>
<h1 align="center">Springfield's Pizza Database Management System</h1>
<p></p>
<div id="browseHome" align="center">
<h2>
<a href="/">Home</a>
<a href="pizzas">Pizzas</a> 
<a href="employees">Employees</a> 
<a href="customers">Customers</a> 
<a href="orders">Orders</a>
</h2>
</div>
</body>
