<!-- Citation for this file: -->
<!-- Date: 06/04/2022 -->
<!-- Adapted from osu-cs340-ecampus/flask-starter-app -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app -->

<head>
    <title>Pizzas</title>
</head>
<body>
<div id="browse">
<!-- Links to other routes -->
<a href="/">Home</a> | <a href="pizzas">Pizzas</a> | <a href="customers">Customers</a> | <a href="orders">Orders</a> | <a href="employees">Employees</a>
<p></p> 

<h1>Pizzas</h1>
    <p></p> 
        <!-- Can include buttons here above the table -->
    <p></p>

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Pizzas[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every pizza -->
    {% for pizza in Pizzas %}
    <tr>
        <!-- Then iterate through every key in the current pizza dictionary -->
        {% for key in pizza.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{pizza[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    </div>
<p>&nbsp;</p>

    <div id="insert">
    <form id="insertPizza" method="POST">
    <legend><strong>Add Pizza</strong></legend>
    <fieldset class="field">
        <label> pizza_type </label> <input type="text" class="form-control" id="ptype" name="ptype" placeholder="" required>
        <label> pizza_price </label> <input type="number" class="form-control" id="pprice" name="pprice" step="0.01" min="0" required>
    </fieldset>
        <input class="btn" type="submit" name="addPizza" id="addPizza" value="Add Pizza">
        <a href="pizzas"><input class="btn" type="button" value="Cancel"> </a>
    </form>
    </div>

    <div id="update">
    <form id="updatePizza" method="POST">
    <legend><strong>Update Pizza</strong></legend>
    <fieldset class="field">
        <label> pizza_id </label> 
            <select id="pid" name="pid"> <!-- for-loop to iterate and show only pizza_id on drop down menu -->
            {% for id in all_pizzas_id %}
            <option value={{id['pizza_id']}} selected> {{id['pizza_id']}} </option>
            {% endfor %} 
        </select>
        <label> pizza_type </label> <input type="text" class="form-control" id="ptype" name="ptype" placeholder="" required>
        <label> pizza_price </label> <input type="number" class="form-control" id="pprice" name="pprice" step="0.01" min="0" required>
    </fieldset>
        <input class="btn" type="submit" id="updatePizza" name="updatePizza" value="Update Pizza">
        <a href="pizzas"><input class="btn" type="button" value="Cancel"> </a>
    </form>
    </div>


    </body>